.row
  .cell
    %h1= lorem.words(3).capitalize
    %p= lorem.paragraph
    %h2= lorem.words(3).capitalize
    %p= lorem.paragraph
    %h3= lorem.words(3).capitalize
    %p= lorem.paragraph
    %h4= lorem.words(3).capitalize
    %p= lorem.paragraph
    %p= link_to "Sample Link", "#"
