.row.bb.bc1.pbxl.ptxl
  .cell
    %h1.tac Sample Project Tagline
    %p.tac This is where the Sample Project's subtagline could go.
    %p.tac= link_to "Sample Link", "#", class: "btn"

.row.bb
  .cell.mbxl.mtl
    .g
      .g-b.g-b--m--1of2
        %h1= lorem.words(3).capitalize
        %p= lorem.paragraph
        %h2= lorem.words(3).capitalize
        %p= lorem.paragraph
        %h4= lorem.words(3).capitalize
        %p= lorem.paragraph
      .g-b.g-b--m--1of2
        = list_type("ordered")

.row.bc2
  .cell.mbl.mtl
    %p= link_to "Sample Link", "#", class: 'btn btn--inverse btn--large'
