.row.bb.pbm.ptm
  .cell
    %h2.fl Sample Project
    %nav.fr.mtxs
      %a.mls{href: '#'}= lorem.word.capitalize
      %a.mls{href: '#'}= lorem.word.capitalize
      %a.mls{href: '#'}= lorem.word.capitalize
      %a.mls{href: '#'}= lorem.word.capitalize

.row.bb.bc1.pbxl.ptxl
  .cell
    %h1.tac Sample Project Tagline
    %p.tac This is where the Sample Project's subtagline could go.

.row.bb
  .cell.mbxl.mtl
    .g
      .g-b.g-b--m--2of3
        %h1= lorem.words(3).capitalize
        %p= lorem.paragraph
        %h2= lorem.words(3).capitalize
        %p= lorem.paragraph
        %h4= lorem.words(3).capitalize
        %p= lorem.paragraph
        %p= link_to "Sample Link", "#"
      .g-b.g-b--m--1of3
        .card.ba.bc3.mbm.pbxs
          %h3.tc0= lorem.words(3).capitalize
          %p.tc1= lorem.paragraph
